/*Custom Properties*/
:root{
  --text-color: rgb(0, 0, 0);
  --text-color-alt: #464646;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #ffffff;
  --hover-color: #ddd;
  --tertiary-color: var(--hover-color);
  --shadow-color: 5px 5px 15px 5px rgba(0,0,0,0.2);
  --link-color: var(--text-color);
  --header-text: 20px;
  --body-text: 18px;
  --footer-text: 16px;

  --font-family: 'EB Garamond', serif;
  --font-size-xs: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;

  --gap: 2rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;
}
/* Base Styles*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  /*font-size: 10px;*/
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}


/* ----- || Body ----- */


body.dark-theme{
  --text-color: rgba(255, 255, 255, 0.85);
  --text-color-alt: #e62492;
  --primary-bg-color: #121212;
  --secondary-bg-color: #333333;
  --hover-color: #333333;
  --transparent-light-color: #252830;
  --transparent-dark-color: rgba(0,0,0,0.1);
  --shadow-color: 5px 5px 15px 5px rgba(0, 0, 0, 0.726);
  --font-family: 'Poppins', sans-serif;
  --link-color: var(--text-color-alt);
  --header-text: 18px;
  --body-text: 16px;
  --footer-text: 14px;
}

body {  
  margin:0;
  font-family: var(--font-family);
  font-weight: 500;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  font-size: var(--body-text);
}


/* || Header */

.site-header{
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  font-size: var(--header-text);
  z-index: 999;
}

.topnav {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  background-color: transparent;
}

.topnav .split{
  float: right;
}

.topnav a {
float: left;
display: block;
color: inherit;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: inherit;
}

.topnav .icon {
display: none;
}

.iconica{
font-size: var(--header-text);    
border: none;
outline: none;
color: inherit;
padding: 16px 16px 12px;
background-color: inherit;
font-family: inherit;
margin: 0;

} 

.dropdown {
float: left;
overflow: hidden;
}

.dropdown .dropbtn{
font-size: 17px;    
border: none;
outline: none;
color: inherit;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

.dropdown-content {
display: none;
position: absolute;
background-color: var(--secondary-bg-color);
min-width: 160px;
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
float: none;
color: inherit;
padding: 12px 16px;
font-size: inherit;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: var(--hover-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dark-theme .topnav a:hover, .dark-theme .dropdown:hover .dropbtn, .iconica:hover {
  color: var(--text-color-alt);
}

.dark-theme .dropdown-content a:hover {
  background-color: inherit;
}

/* -------------------------- */

button a.button{
  padding: 0px 0px;
  font-size: var(--header-text);
}


.topnav a:not(.dropdown-content a,.dark-theme .topnav a):after{
  content: '';
  width: 0%;
  height: 1px;
  background: var(--text-color);
  display:block;
  margin: auto;
  transition: 500ms;
}
.topnav a:not(.dropdown-content a,.dark-theme .topnav a):hover::after {
  width: 100%;
}

/* -------------------------- */

@media screen and (max-width: 959px) {
  .topnav .split{
  float: none;
  }
}

@media screen and (max-width: 600px) {
.topnav .split a, .dropdown .dropbtn, .iconica {
  display: none;
}
.topnav a.icon {
  float: right;
  display: block;
}
.topnav a:not(.dropdown-content a,.dark-theme .topnav a):hover::after {
  width: 0%;
}
}

@media screen and (max-width: 600px) {
.topnav.responsive {
  position: relative;
  }
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}

.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
.topnav.responsive .dropdown {float: none;}
.topnav.responsive .dropdown-content {
  position: relative;
  }
  .topnav.responsive .dropdown-content{
      display: none;
  }

.topnav.responsive .dropdown .dropbtn,
.topnav.responsive .iconica  {
  display: block;
  width: 100%;
  text-align: left;
}
.topnav.topnav.responsive a:not(.dropdown-content a,.dark-theme .topnav a):hover::after {
  width: 0%;
}
}

/* || Theme Buttons */

.sun-icon{
  display: none;
}

.dark-theme .moon-icon{
  display: none;
}

.dark-theme .sun-icon{
  display: block;
}


main{
  max-width: 960px;
  margin: auto;
  padding: 0 2%;
  color: var(--text-color);
  font-size: var(--font-size-sm);
}

/* || Footer */

footer.site-footer {
  margin-top: auto;
}
footer.site-footer p{
  padding: 20px 0;
  margin: 0;
  font-size: var(--footer-text);
  font-weight: 500;
  text-align: center;
  background-color: var(--primary-bg-color);
}
footer.site-footer a{
  color: var(--link-color);
}


/* || Main  */

main{
  margin-top: auto;
}

main a {
  color: var(--link-color);
}

.bibliography ul{
  margin:auto;
  text-align: left;
  font-size: var(--body-text);
  max-width: 600px;;
}

  main.landing{
    padding: 0 5%;
    text-align: center;
  }

  main.landing abbr{
    text-decoration: none;
  }

  main.landing p{
    margin: auto;
    margin-bottom: 15px;
    text-align: justify;
    max-width: 600px;
  }

  main.landing h1{
    margin: auto;
    margin-bottom: 35px;
    text-align: center;
    font-size: 42px;
  }
  main.landing h2{
      font-size: 24px;
      padding: 20px;
  }

  main.landing ul{
    padding: 40px;
    text-align: left;
    font-size: var(--body-text);
    list-style:circle;
  }
  main.landing ul.sub-list{
    margin: 0;
    padding-top: 5px;
  }

  main .hero{
    height: calc(100vh - 55px);
    text-align: center;
  }

  main .hero .hero-txt {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  main .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    border: 2px solid;
    border-color: var(--link-color);
    border-radius: 10px;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    margin: 30px 0;
    transition: 500ms;
  }
  main .hero-btn:hover{
    box-shadow: var(--shadow-color); 
  }



  /*Fiction*/
    main.fiction {
        margin:auto;
        max-width: 90%;
        width: 600px;
    }
        main.fiction h1{
            font-size: 36px;
            font-weight: 700;
            text-align: center;
        }
        main.fiction p{
            font-size: var(--body-text);
            font-weight: 500;
            text-align: justify;
            margin: 10 px;
            padding: 10px;
        }
        main.fiction figure{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        main.fiction figcaption{
          text-align: center;
          font-style: italic;
        }

        /*Blog*/

      .blog-title p{
        font-size: 40px;
        text-decoration: underline;
        font-weight: 700;
        text-align: center;
        font-style: italic;
      }

      .blog-meta p{
        font-size: var(--body-text);
      }

      main.blog {
      margin:auto;
      max-width: 90%;
      width: 800px;
      
  }
      main.blog h1{
          font-size: 42px;
          font-weight: 700;
          text-align: center;
      }

      main.blog h2{
        font-size: 36px;
        font-weight: 700;
    }


      main.blog p{
          font-size: var(--body-text);
          font-weight: 500;
          text-align: justify;
          margin: 10px 0px;
          padding: 5px 0px;
      }
      main.blog img{
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
      }
      main.blog figcaption{
        text-align: center;
        font-style: italic;
      }

      main.blog ul{
        font-size: var(--body-text);
        list-style: circle;
        margin-left: 30px;
      }


/* || Syntaxbody.dark-theme .codehiliteing */

  pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }

  .codehilite .hll { background-color: #ffffcc }
  .codehilite  { background: #ddd; font-size: var(--body-text); font-family: 'Courier New', Courier, monospace;
  margin: 10px;}
  .codehilite .c { font-style: italic } /* Comment */
  .codehilite .err { border: 1px solid #FF0000 } /* Error */
  .codehilite .k { font-weight: bold } /* Keyword */
  .codehilite .ch { font-style: italic } /* Comment.Hashbang */
  .codehilite .cm { font-style: italic } /* Comment.Multiline */
  .codehilite .cpf { font-style: italic } /* Comment.PreprocFile */
  .codehilite .c1 { font-style: italic } /* Comment.Single */
  .codehilite .cs { font-style: italic } /* Comment.Special */
  .codehilite .ge { font-style: italic } /* Generic.Emph */
  .codehilite .gh { font-weight: bold } /* Generic.Heading */
  .codehilite .gp { font-weight: bold } /* Generic.Prompt */
  .codehilite .gs { font-weight: bold } /* Generic.Strong */
  .codehilite .gu { font-weight: bold } /* Generic.Subheading */
  .codehilite .kc { font-weight: bold } /* Keyword.Constant */
  .codehilite .kd { font-weight: bold } /* Keyword.Declaration */
  .codehilite .kn { font-weight: bold } /* Keyword.Namespace */
  .codehilite .kr { font-weight: bold } /* Keyword.Reserved */
  .codehilite .s { font-style: italic } /* Literal.String */
  .codehilite .nc { font-weight: bold } /* Name.Class */
  .codehilite .ni { font-weight: bold } /* Name.Entity */
  .codehilite .ne { font-weight: bold } /* Name.Exception */
  .codehilite .nn { font-weight: bold } /* Name.Namespace */
  .codehilite .nt { font-weight: bold } /* Name.Tag */
  .codehilite .ow { font-weight: bold } /* Operator.Word */
  .codehilite .sa { font-style: italic } /* Literal.String.Affix */
  .codehilite .sb { font-style: italic } /* Literal.String.Backtick */
  .codehilite .sc { font-style: italic } /* Literal.String.Char */
  .codehilite .dl { font-style: italic } /* Literal.String.Delimiter */
  .codehilite .sd { font-style: italic } /* Literal.String.Doc */
  .codehilite .s2 { font-style: italic } /* Literal.String.Double */
  .codehilite .se { font-weight: bold; font-style: italic } /* Literal.String.Escape */
  .codehilite .sh { font-style: italic } /* Literal.String.Heredoc */
  .codehilite .si { font-weight: bold; font-style: italic } /* Literal.String.Interpol */
  .codehilite .sx { font-style: italic } /* Literal.String.Other */
  .codehilite .sr { font-style: italic } /* Literal.String.Regex */
  .codehilite .s1 { font-style: italic } /* Literal.String.Single */
  .codehilite .ss { font-style: italic } /* Literal.String.Symbol */


body.dark-theme .codehilite .hll { background-color: #404040 }
body.dark-theme .codehilite  { background: #333333; color: var(--text-color); font-size: var(--body-text); font-family:'Courier New', Courier, monospace; margin: 10px;}
body.dark-theme .codehilite .c { color: #999999; font-style: italic } /* Comment */
body.dark-theme .codehilite .err { color: #a61717; background-color: #e3d2d2 } /* Error */
body.dark-theme .codehilite .esc { color: #d0d0d0 } /* Escape */
body.dark-theme .codehilite .g { color: #d0d0d0 } /* Generic */
body.dark-theme .codehilite .k { color: #e62492; font-weight: bold } /* Keyword */
body.dark-theme .codehilite .l { color: #d0d0d0 } /* Literal */
body.dark-theme .codehilite .n { color: #d0d0d0 } /* Name */
body.dark-theme .codehilite .o { color: #d0d0d0 } /* Operator */
body.dark-theme .codehilite .x { color: #d0d0d0 } /* Other */
body.dark-theme .codehilite .p { color: #d0d0d0 } /* Punctuation */
body.dark-theme .codehilite .ch { color: #999999; font-style: italic } /* Comment.Hashbang */
body.dark-theme .codehilite .cm { color: #999999; font-style: italic } /* Comment.Multiline */
body.dark-theme .codehilite .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
body.dark-theme .codehilite .cpf { color: #999999; font-style: italic } /* Comment.PreprocFile */
body.dark-theme .codehilite .c1 { color: #999999; font-style: italic } /* Comment.Single */
body.dark-theme .codehilite .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
body.dark-theme .codehilite .gd { color: #d22323 } /* Generic.Deleted */
body.dark-theme .codehilite .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
body.dark-theme .codehilite .gr { color: #d22323 } /* Generic.Error */
body.dark-theme .codehilite .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
body.dark-theme .codehilite .gi { color: #589819 } /* Generic.Inserted */
body.dark-theme .codehilite .go { color: #cccccc } /* Generic.Output */
body.dark-theme .codehilite .gp { color: #aaaaaa } /* Generic.Prompt */
body.dark-theme .codehilite .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
body.dark-theme .codehilite .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
body.dark-theme .codehilite .gt { color: #d22323 } /* Generic.Traceback */
body.dark-theme .codehilite .kc { color: #e62492; font-weight: bold } /* Keyword.Constant */
body.dark-theme .codehilite .kd { color: #e62492; font-weight: bold } /* Keyword.Declaration */
body.dark-theme .codehilite .kn { color: #e62492; font-weight: bold } /* Keyword.Namespace */
body.dark-theme .codehilite .kp { color: #e62492 } /* Keyword.Pseudo */
body.dark-theme .codehilite .kr { color: #e62492; font-weight: bold } /* Keyword.Reserved */
body.dark-theme .codehilite .kt { color: #e62492; font-weight: bold } /* Keyword.Type */
body.dark-theme .codehilite .ld { color: #d0d0d0 } /* Literal.Date */
body.dark-theme .codehilite .m { color: #19d86b } /* Literal.Number */
body.dark-theme .codehilite .s { color: #2492e6 } /* Literal.String */
body.dark-theme .codehilite .na { color: #bbbbbb } /* Name.Attribute */
body.dark-theme .codehilite .nb { color: #20cf6c } /* Name.Builtin */
body.dark-theme .codehilite .nc { color: #24e678; text-decoration: underline } /* Name.Class */
body.dark-theme .codehilite .no { color: #40ffff } /* Name.Constant */
body.dark-theme .codehilite .nd { color: #ffa500 } /* Name.Decorator */
body.dark-theme .codehilite .ni { color: #d0d0d0 } /* Name.Entity */
body.dark-theme .codehilite .ne { color: #bbbbbb } /* Name.Exception */
body.dark-theme .codehilite .nf { color: #24e678 } /* Name.Function */
body.dark-theme .codehilite .nl { color: #d0d0d0 } /* Name.Label */
body.dark-theme .codehilite .nn { color: #24e678; text-decoration: underline } /* Name.Namespace */
body.dark-theme .codehilite .nx { color: #d0d0d0 } /* Name.Other */
body.dark-theme .codehilite .py { color: #d0d0d0 } /* Name.Property */
body.dark-theme .codehilite .nt { color: #e62492; font-weight: bold } /* Name.Tag */
body.dark-theme .codehilite .nv { color: #40ffff } /* Name.Variable */
body.dark-theme .codehilite .ow { color: #e62492; font-weight: bold } /* Operator.Word */
body.dark-theme .codehilite .w { color: #666666 } /* Text.Whitespace */
body.dark-theme .codehilite .mb { color: #19d86b } /* Literal.Number.Bin */
body.dark-theme .codehilite .mf { color: #19d86b } /* Literal.Number.Float */
body.dark-theme .codehilite .mh { color: #19d86b } /* Literal.Number.Hex */
body.dark-theme .codehilite .mi { color: #19d86b } /* Literal.Number.Integer */
body.dark-theme .codehilite .mo { color: #19d86b } /* Literal.Number.Oct */
body.dark-theme .codehilite .sa { color: #2492e6 } /* Literal.String.Affix */
body.dark-theme .codehilite .sb { color: #2492e6 } /* Literal.String.Backtick */
body.dark-theme .codehilite .sc { color: #2492e6 } /* Literal.String.Char */
body.dark-theme .codehilite .dl { color: #2492e6 } /* Literal.String.Delimiter */
body.dark-theme .codehilite .sd { color: #2492e6 } /* Literal.String.Doc */
body.dark-theme .codehilite .s2 { color: #2492e6 } /* Literal.String.Double */
body.dark-theme .codehilite .se { color: #2492e6 } /* Literal.String.Escape */
body.dark-theme .codehilite .sh { color: #2492e6 } /* Literal.String.Heredoc */
body.dark-theme .codehilite .si { color: #2492e6 } /* Literal.String.Interpol */
body.dark-theme .codehilite .sx { color: #ffa500 } /* Literal.String.Other */
body.dark-theme .codehilite .sr { color: #2492e6 } /* Literal.String.Regex */
body.dark-theme .codehilite .s1 { color: #2492e6 } /* Literal.String.Single */
body.dark-theme .codehilite .ss { color: #2492e6 } /* Literal.String.Symbol */
body.dark-theme .codehilite .bp { color: #20cf6c } /* Name.Builtin.Pseudo */
body.dark-theme .codehilite .fm { color: #24e678 } /* Name.Function.Magic */
body.dark-theme .codehilite .vc { color: #40ffff } /* Name.Variable.Class */
body.dark-theme .codehilite .vg { color: #40ffff } /* Name.Variable.Global */
body.dark-theme .codehilite .vi { color: #40ffff } /* Name.Variable.Instance */
body.dark-theme .codehilite .vm { color: #40ffff } /* Name.Variable.Magic */
body.dark-theme .codehilite .il { color: #19d86b } /* Literal.Number.Integer.Long */

